page-home {
    .translate {

        background: url(../assets/icon/translate.svg) no-repeat top left;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin: 0 auto 0 auto;
    
    }
    .button-add {
        background-color: #464646 !important;
    }
}
